* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-container {
    max-width: 1440px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    width: 100%;
    height: 100%;
    background-color: #163A24;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-link {
    text-decoration: none;
    text-transform: capitalize;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FBFAF7;
    padding: 41px 25px 35px 25px;
}

.btn {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FBFAF7;
    border: 2px solid transparent;
    border-radius: 35px;
    background-color: #198C36;
    padding: 15px 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}


.head {
    display: flex;
    align-items: center;
}

.head__introduction>.title {
    font-family: Recoleta;
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 65px;
    margin: 0;
    color: #FBFAF7;
}

.head__media {
    width: 60%;
    height: 633px;
    background-image: url(../img/bacgraubd/head-bg.png);
    background-size: 100% 100%;
}

.head__introduction {
    width: 50%;
    height: 100%;
    padding: 120px 5px 18px 0;
}

.head__introduction>.dec {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FBFAF7;
}

.sub-title {
    font-family: Recoleta;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}

.repartior__img>img {
    padding: 25px 60px;
    margin-bottom: 50px;
}

#product {
    width: 100%;
    height: 100%;
    background-color: #163A24;
}

.product>.sub-title {
    font-family: Recoleta;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 68px;
    color: #FBFAF7;
}

.product__list {
    padding-bottom: 139px;
}

.product__list__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product__list__item>img {
    width: 101px;
    height: 128px;
}

.text {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 5px 40px;
    color: #FBFAF7;

}


#enjoy {
    width: 100%;
    height: 100%;
    background-color: #F2EFE6;
}

.enjoy {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.enjoy>.sub-title {
    margin: 0;
    padding: 114px 250px 27px 250px;
}

.enjoy>.dec {

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 0 210px;
    margin: 0;
    color: #163A24;
}

.enjoy>img {
    width: 100%;
    height: 100%;
    padding-bottom: 140px;
}

#interest {
    background: #FFFFFF;
    padding: 50px 25px 120px 25px;

}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.pre-title {
    font-family: Recoleta;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    padding: 0 135px 0 0;
    margin: 0;
    color: #163A24;

}

.introduction {
    padding: 150px 50px;
    width: 50%;
}


.introduction p {
    width: 385px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}

.media {
    width: 50%;
    height: 100%;

}

.media img {
    padding: 0 25px;
    margin-top: 10px;
}

.list-title {
    padding: 25px;
    padding-bottom: 50px;
}

.list-title h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}

.list-title p {
    font-weight: 400;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
}

.list-box-item {
    width: 353px;
    height: 453px;
    background: #FBFAF7;
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.list-box-item img {
    padding: 50px 250px 0 49px;
}

.list-box-item h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    padding: 0px 40px 0 40px;
}

.interested__list {
    flex-direction: column;
    align-items: flex-start;
    list-style: disc;
    /* identical to box height */
    margin-left: 60px;
}

.interested__list li {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0;
    color: #163A24;

}

#easy {
    background: #F2EFE6;
    height: 602px;
    padding: 50px 25px;
}

.easy-dec {
    width: 275px;
    padding: 15px 10px;
}

.easy-dec p {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
}

.easy-dec h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    color: #163A24;
}

.dec-3 {
    background-image: url(../img/bacgraubd/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* -------------------------------------------------- */
#HR {
    margin-top: 25px;
    padding: 60px 25px;

}

.hr__link {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
    background-color: #198C36;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.hr__text {
    padding-bottom: 25px;
}

/* ----------- */
#get-started {
    background: #163A24;
}

.get .list-title h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
}

.get .list-title p {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 34px;
}

.get .list-title span a {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    color: #4FA462;
}

.get .list-title a {
    text-decoration: none;
    color: #163A24;
    padding: 15px 25px 15px 25px;
    height: 52px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    background: #FAB5A0;
    border-radius: 160px;
    -webkit-border-radius:160px;
    -moz-border-radius:160px;
    -ms-border-radius:160px;
    -o-border-radius:160px;
}

.get__btn {
    margin-left: 130px;
}

#up-date {
    background-color: #F2EFE6;
}
.registr {
    width: 50%;
}

.input {
    width: 100%;
    height: 54px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 25px;
    padding-right: 120px;
    margin-bottom: 10px;
    outline:none;
    border: 1px solid #F2EFE6;
    border-radius: 255px;
    -webkit-border-radius: 255px;
    -moz-border-radius: 255px;
    -ms-border-radius: 255px;
    -o-border-radius: 255px;
}

form {
    display: flex;
}

.button {
    width: 111px;
    height: 52px;
    background-color: #15762E;
    color: #fff;
    border-radius: 160px;
    font-size: 16px;
    border: #15762E;
    margin-left: -110px;
}


.registr__text {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding-top: 25px;
    color: #163A24;
}

.registr__text a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #4FA462;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
footer>.container{
    max-width: 1440px;
    padding: 25px 20px 0 20px;
}
footer>.container>.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__title{
font-family: Recoleta;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #163A24;
}

.footer__list {
    display: flex;
    margin: 14px;
}

.footer__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}

.footer__list li {
    margin-left: 14px;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #198C36;
}
.row>a{
    text-decoration: none;

}
.row>a>.bx{
    font-size: 26px;
    padding-right: 5px;
}